/*css responsivo mobile*/

@media (max-width: 960px){

    /* css navbar */
    .menu-icon{
        display: block;
    }

    .navbar{
        width: 100%;
        position: fixed;
        background: var(--verde-escuro);
        top: 0;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }

    /*css main principal*/
    main .container{
        flex-direction: column;
    }

    .main-text{
        margin-left: 0px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main-text p{
        margin-top: 50px;
        text-align: center;
        font-size: 12px;
    }
    .main-text h1{
        font-size: 48px;
        text-align: center;
        margin-bottom: 30px;
    }

    .main-text div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .main-text div a{
        width: 50%;
    }

    .main-horario{
        display: none;
    }

    .main-img{
        display: none;
        /*margin-top: 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;*/
    }
    /*
    .main-img img{
        margin-left: 60px;
    }*/

    /*css section servicos*/
    .servicos .container{
        display: flex;
        flex-direction: column;
        padding: 0 5% 0 5%;
    }

    .servicos-text {
        width: 100%;
    }

    .servicos-text{
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .servicos .servicos-text h1 {
        opacity: 0.6;
        font-size: 16px;
        text-align: left;
    }

    .servicos-img{
        width: 100%;
    }

    .servicos-img img{
        width: 100%;
    }

}



/*css responsivo desktop */

/*css responsivo desktop padrão*/
@media (width >= 1200px){
    .metodos-box .box {
        width: 560px; 
        height: 270px;
    }
}

@media (width >= 1400px){
    .metodos-box .box {
        width: 623px; 
        height: 270px;
    }
}

/*css responsivo desktop garnde*/
@media (width >=  1500px){
    .metodos-box .box {
        width: 702px; 
        height: 300px;
    }
}

/*css responsivo celulares */