/*css responsivo mobile*/

@media (width <= 960px){
    .navbar{
        display: none;
    }

    main .container{
        flex-direction: column-reverse;
    }

    .main-text{
        width: 100%;
    }

    .main-text h1{
        font-size: 40px;
    }

    .main-img{
        width: 100%;
    }

    .main-horario{
        display: none;
    }
}



/*css responsivo desktop */

/*css responsivo desktop padrão*/
@media (width >= 1200px){
    .metodos-box .box {
        width: 560px; 
        height: 270px;
    }
}

@media (width >= 1400px){
    .metodos-box .box {
        width: 623px; 
        height: 270px;
    }
}

/*css responsivo desktop garnde*/
@media (width >=  1500px){
    .metodos-box .box {
        width: 702px; 
        height: 300px;
    }
}

/*css responsivo celulares */