/* css base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 0 5%;
    margin: 0 auto;
}

section {
    padding: 2.7rem 0;
    max-height: 100%;
}

.fundo {
    background-image: url('../img/fundo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* css navbar */
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: auto;
    height: 50px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    cursor: pointer;
}

.navbar a:hover {
    color: #DD7833;
    background-color: transparent;
}

.navbar a.active {
    color: #DD7833;
}

/* css pagina principal */
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85vh;
    padding: 0;
    margin: 0;
}

.main-text {
    padding: 0;
    margin-top: 0;
    width: 40%;
    color: white;
    margin-left: 80px;
    margin-bottom: 100px;
    position: relative; 
}

.main-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-text h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    background: linear-gradient(186.7deg, #FFFFFF 28.87%, rgba(57, 144, 121, 0.63) 157.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    margin: 0;
    padding: 0;
}

.main-text a {
    position: relative;
    width: 256.71px;
    height: 53px;
    background: rgba(221, 120, 51, 0.3); 
    backdrop-filter: blur(7.5px); 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    margin-top: 20px; 
}

.main-text a p {
    font-weight: 100;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-text a img {
    width: 30px;
    margin-left: 16px;
}

.main-text a:hover {
    transform: scale(1.06);
}

.main-img {
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
}

.main-img img {
    width: 94%;
    margin-top: auto; 
    margin: 0;
    padding: 0;
}

.main-horario {
    width: 20%;
    justify-content: center;
    margin-right: 80px;
    margin-bottom: 130px;
}

.main-horario .horario-fundo {
    background-color: #3a5d5451;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.main-horario h2 {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin: 0;
}

.main-horario p {
    font-size: 12px;
    color: white;
    margin: 0;
}

/* css section serviços */
.servicos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.servicos-text {
    width: 50%;
}

.sobre-a-nutri {
    position: absolute;
    width: 150px; /* Ajuste a largura conforme necessário */
    height: auto; /* Permite ajuste automático da altura */
    left: 112px;
    top: 973px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; /* Novo tamanho da fonte */
    line-height: 24px; /* Ajustado conforme o novo tamanho da fonte */
    color: #898989;
    white-space: nowrap; /* Impede quebra de linha */
}

.transformar-relacao {
    position: absolute;
    width: 489px;
    height: 162px;
    left: 112px;
    top: 994px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; /* Peso normal, sem negrito */
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.jornada-nutricionista {
    position: absolute;
    width: 520px;
    height: 135px;
    left: 112px;
    top: 1180px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}

/* Group 5 */
.group-5 {
    position: absolute;
    width: 466px;
    height: 67px;
    left: 127px;
    top: 1392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
    opacity: 0.6;
}

.consultorio {
    position: absolute;
    width: 208px;
    height: 67px;
    left: 385px;
    top: 1392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #898989;
    opacity: 0.6;
}

.acompanhamento {
    position: absolute;
    width: 208px;
    height: 67px;
    left: 127px;
    top: 1392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
    opacity: 0.6;
}

/* Group 4 */
.group-4 {
    position: absolute;
    width: 480px;
    height: 67px;
    left: 113px;
    top: 1509px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}

.cta-button .text {

position: absolute;
width: 256px;
height: 53px;
left: 113px;
top: 1680px;


/* Rectangle 7 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(57, 144, 121, 0.15);
backdrop-filter: blur(7.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;


/* Agende sua consulta */

position: absolute;
left: 7.03%;
right: 34.77%;
top: 30.19%;
bottom: 30.19%;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #000000;



/* Arrow 1 */

box-sizing: border-box;

position: absolute;
left: 74.61%;
right: 7.03%;
top: 50.94%;
bottom: 49.06%;

background: #000000;
border: 0.8px solid #000000;

}

.cta-button .arrow {
    box-sizing: border-box;
    position: absolute;
    left: 74.61%;
    right: 7.03%;
    top: 50.94%;
    bottom: 49.06%;
    background: #000000;
    border: 0.8px solid #000000;
}


.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}