@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.destaque {
    color: #dd7833;
}

.container {
    margin: 0 auto;
}

section {
    padding: 2.8em 0;
    max-height: 100%;
}

.fundo {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* css navbar */

header .container{
    padding: 0 5%;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: auto;
    height: 50px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    justify-content: space-between;
    margin: 0 36px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 16px;
}

.navbar a:hover {
    color: #DD7833;
    background-color: transparent;
    transform: scale(1.1);
}

.navbar a.active {
    color: #DD7833;
}

.menu-icon {
    display: none;
    position: relative;
    z-index: 10;
}

/* css pagina principal */
main .container {
    display: flex;
    justify-content: space-between;
    min-height: 85vh;
    padding: 0;
    margin: 0;
}

main .container > *:not(.main-img) {
    align-self: center;
}

.main-text {
    padding: 0;
    margin-top: 0;
    width: 40%;
    color: white;
    margin-left: 80px;
    margin-bottom: 100px;
    position: relative; 
}

.main-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-text h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    background: linear-gradient(186.7deg, #FFFFFF 28.87%, rgba(57, 144, 121, 0.63) 157.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    margin: 0;
    padding: 0;
}

.main-text a {
    position: relative;
    width: 256.71px;
    height: 53px;
    background: rgba(221, 120, 51, 0.3); 
    backdrop-filter: blur(7.5px); 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    margin-top: 20px; 
}

.main-text a p {
    font-weight: 100;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-text a img {
    width: 30px;
    margin-left: 16px;
}

.main-text a:hover {
    transform: scale(1.06);
}

.main-img {
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
}

.main-img img {
    width: 70%;
    margin-top: auto; 
    margin: 0;
    padding: 0;
}

.main-horario {
    width: 20%;
    justify-content: center;
    margin-right: 80px;
    margin-bottom: 130px;
}

.main-horario .horario-fundo {
    background-color: #3a5d5451;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.main-horario h2 {
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin: 0;
}

.main-horario p {
    font-size: 12px;
    color: white;
    margin: 0;
}

/* css section serviços */
.servicos .container{
    display: flex;
    justify-content: center;
    padding: 0 0 0 5%;
    min-height: 90vh;
}

.servicos-text {
    margin-top: 0;
    width: 50%;
}

.servicos .servicos-text h1{
    opacity: 0.6;
    font-size: 16px;
}

.servicos-text h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    margin-bottom: 26px;
}

.servicos-text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-align: justify;
    padding: 0 5% 0 0;
}

.tipos-servicos {
    margin-top: 80px;
    display: flex;
}

.pequena-linha {
    width: 2px;
    height: 58px;
    background-color: #dd7833;
    border-radius: 0.5px 0px 0px 0px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}

.servico-texto {
    display: flex;
}

.servico-texto b:first-of-type {
    margin-right: 60px;
    font-weight: 400;
    line-height: 2.0;
}

.servico-texto b .segundoB{
    opacity: 0.6;
    font-weight: 400;
    line-height: 2.0;
}

.servicos-text button{
    width: 240px;
    height: 53px;
    margin-top: 80px;
    background-color: #dbeee9;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.servicos-text button:hover{
    transform: scale(1.1);
}

.seta-button{
    width: 18%;
    margin: 0 0 0 14px;
}

.servicos-img{
    width: 46%;
    text-align: center;
    align-items: center;
    padding: 4% 0 0 0;
}

.servicos-img img{
    width: 80%;
}

/* css metodos e estrategias*/

.metodos .container{
    padding: 0 5% 0 5%;
    min-height: 90vh;
}

.metodos-text h1 {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
}

.metodos-display{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.metodos-text .metodos-display h2{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    margin-bottom: 26px;
    margin-right: auto; 
}

.metodos-text .metodos-display b{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    opacity: 0.8;
    margin-right: 8%;
}

.metodos-text p {
    font-size: 16px;
    width: 44%;
    margin-bottom: 30px;
}

.metodos-box{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.metodos-box .box {
    width: 450px; 
    height: 293px;
    padding: 20px 30px 40px 30px;
    background-color: #ececec;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 0 16px 0;

    &:nth-child(1),
    &:nth-child(3) {
        margin-right: 16px; /* Define a margem à direita para o 1º e 3º box */
    }
}


.metodos-box .box:hover{
    background: linear-gradient(258.78deg, rgba(42, 76, 67, 0.82) -18.38%, #2A4C43 101.21%);
}

.metodos-box .box:first-child{
    background: linear-gradient(258.78deg, rgba(42, 76, 67, 0.82) -18.38%, #2A4C43 101.21%);
}

.metodos-box .box h2 {
    top: 0;
    padding: 0;
    margin: 0 0;
    color: #777777;
    font-size: 64px;
    font-weight: 100;
}

.metodos-box .titulo {
    margin: 0px 0 10px 0;
    font-weight: 100;
    color: #777777;
    font-size: 26px;
}

.metodos-box .box p {
    color: #777777;
    font-weight: 100;
}

.metodos-box .box:hover h1,
.metodos-box .box:hover h2,
.metodos-box .box:hover .titulo,
.metodos-box .box:hover p {
    color: #ffffff;
}

/* Estilo específico para o primeiro item */
.metodos-box .box:first-child h2,
.metodos-box .box:first-child .titulo,
.metodos-box .box:first-child p {
    color: #FFFFFF; /* Cor branca */
}

/*css divisoria*/
.divisoria {
    background-image: url('../img/sexy-woman-smiling-medium-shot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 110px 150px;
}

.divisoria h1 {
    position: relative;
    top: -10px; /* Ajuste esse valor conforme necessário */
    color: white;
    font-size: 2.5rem;
    font-weight: 200;
}

.divisoria button{
    top: 10px;
    position: relative;
    width: 100px;
    background-color: #dd77337c;
    padding: 16px 24px 16px 16px;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.divisoria button:hover{
    transform: scale(1.1);
}

.divisoria button svg{
    width: 60%;
}

/*css testemunhos*/
.testemunhos{
    padding: 2% 0 2% 0;
}
.testemunhos .container{
    min-height: 40vh;
    display: flex;
}

.testemunhos b{
    padding: 0 0 0 5%;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
}

.testemunhos-text1{
    width: 50%;
    justify-content: center;
    padding: 0 4% 0 5%;
}

.testemunhos-text1 h1{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    margin-bottom: 26px;
    margin-right: auto; 
}

.testemunhos-text1 p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-align: justify;
    padding: 0 5% 0 0;
}

.testemunhos-text2{
    width:50%;
    justify-content: center;
    padding: 0 5% 0 4%;
}

.testemunhos-text2 p{
    font-family: Poppins;
    font-size: 16px;
    opacity: 90%;
    line-height: 34px;
    text-align: left;
    text-align: justify;
    padding: 0 0 0 5%;
}

.testemunhos-text2 h2{
    margin-top: 10px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    padding: 0 0 0 5%;
}

/* css contatos */
.contato {
    min-height: 80vh;
}
.contato .container {
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-text {
    display: flex;
    flex-direction: column; 
    width: 50%;
}

.contato-text b {
    display: block;
    font-size: 16px;
    color: #888888;
    margin-bottom: 10px;
}

.contato-text h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 40px;
}

.contato-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.contato-box .box {
    background-color: rgb(249, 249, 249);
    cursor: pointer;
    padding: 16px 0px 0px 0px;
    display: flex;
    border-radius: 12px;
    width: 48%;
    box-sizing: border-box;
    flex-direction: column;
    height: 40%;
    transition: 0.3s;
}

.contato-box .box:nth-child(2),
.contato-box .box:nth-child(3){
    background-color: white;
}

.contato-box .box:not(:first-child){
    opacity: 70%;
}

.contato-box .box:hover{
    opacity: 100%;
}

.contato-box .box:first-child {
    width: 100%;
    margin-bottom: 30px;
    padding: 16px;
}

.contato-box .box .texto-marcador{
    display: flex;
    height: 20%;
}

.contato-box .box:not(:first-child) .texto-marcador {
    margin-left: 20px;
}

.contato-box .box img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 8px;
}

.contato-box .box h1 {
    font-size: 16px;
    width: 20%;
    margin: 0;
    color: #333333;
}

.contato-box .box h2 {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    margin: 5px 0 15px;
}

.contato-text .box .botao {
    padding: 14px 20px;
    background-color: #f0ba96;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.contato-text .box .botao:hover{
    background-color: #dd7833;
}

.contato-text .box button {
    background-color: rgb(249, 249, 249);
    color: #333333;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.contato-img {
    width: 50%;
    display: flex;
    border-radius: 30px;
    justify-content: center; 
    align-items: flex-end;  
    padding-bottom: 0; 
}

.contato-img img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

/* css da linha divisoria*/
.linha{
    padding: 2.8em 0 0 0;
}
.linha .linha-divisoria {
    border: none;
    height: 4px;
    background: linear-gradient(to right, #ffffff, #dd7833,#ffeee2 );
    margin: 0;
}

footer{
    padding: 2.0em 5% 0 5%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

footer .footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer .footer-section:nth-child(1){
    text-align: left;
}

footer .footer-section:nth-child(3){
    text-align: right;
}

footer .footer-section p{
    font-weight: 400;
    opacity: 80%;
}

/* css whatsapp */

#whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

#whatsapp-icon svg {
    width: 60px;
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

#whatsapp-icon svg:hover {
    transform: scale(1.1); 
}
